In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("encodedDataset.csv")
df.head()

     0    1    2    3    4    5    6        7     8    9
0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  20000.0  33.0  1.0
1  0.0  0.0  0.0  0.0  1.0  0.0  0.0  15000.0  32.0  2.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  23000.0  33.0  3.0
3  0.0  0.0  0.0  1.0  0.0  0.0  1.0  20000.0  45.0  1.0
4  0.0  0.0  1.0  0.0  0.0  0.0  0.0  15000.0  23.0  2.0

In [10]:
y = df["9"].values
X = df.drop("9",axis=1).values

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,shuffle=True,
random_state=42,
stratify=y)

In [13]:
df["9"].value_counts()

9
1.0    8
2.0    4
3.0    4
Name: count, dtype: int64